<!-- <p>
  home works!
</p>
<app-todolist></app-todolist> -->
<!-- <div class="left"></div>
<ul>
  <li><a [routerLink]=""></a></li>
  <li><a [routerLink]=""></a></li>
  <li><a [routerLink]=""></a></li>
  <li><a [routerLink]=""></a></li>
</ul>
</div>
<!-- <img src="assets/image/" alt=""/> -->
<!-- <div class="right">
  <router-outlet></router-outlet>
</div>  -->
<!-- npm run start -->
<div class="left"> 
  <img class="left-top" src = "http://usercontent.edu2act.cn/media/userheader/16-10-09/JgoftcduA2LHfnHvLsKGaW.jpg">
  <br/>
  <span class="name">4-宋莹然</span>
  <br/>
  <br/>
  <span class="fan">粉丝</span><span class="guanzhu">关注</span>
  <br/>
  <br/>
  <hr/>
  <ul class="left-bottom">
    <li><a href="#">任务<span class="you">></span></a></li>
    <li><a href="#">同步课<span class="you">></span></a></li>
    <li><a href="#">课程<span class="you">></span></a></li>
    <li><a href="#">且说<span class="you">></span></a></li>
    <li><a href="#">通知<span class="you">></span></a></li>
  </ul>
</div>
<div class="right">
  <div class="right-top">
    <ul class="right-top-left">
      <li><a href="#">未提交</a></li>
      <li><a href="#">已完成</a></li>
      <li><a href="#">已完结</a></li>
    </ul>
    <div class="sebu">
      <input class="twosear" type="search" value="输入同步课名称搜索">
      <button class="button" type="button" value="搜索">搜索</button>
    </div>
  </div>
  <div class="right-top-center">
    <hr/>
  </div>
  <div class="right-top-bottom">
    <span class="finish">您当前的同步课已全部完成~</span>
  </div>
</div>