.container{
    width: 1200px;
    /* margin: 30px 30px; */
}
.container li{
    width: 230px;
    height: 230px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid rgb(204, 203, 203);
    margin-bottom: 30px;
    border-radius: 5px;
}
.container li img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.name{
    font-size: 16px;
    margin-left: 30px;
    margin-top: 10px;
    color: black;
}
.one{
    margin-left: 20px;
    margin-top: 37px;
}
.sub{
    float: right;
    margin-right: 10px;
    background-color: rgb(241, 150, 116);
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border-color: coral;
    color: white;
}
span{
    color: rgb(175, 174, 174);
    font-size: 13px;
}